#catalog-container {
    height: 1600px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.205);
}

#search_budget_con {
    height: 5%;
    width: 95%;
    padding: 0.5%;
    margin: 1%;
    padding-top: 1.5%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-size: 1.3em;
}

#budget {
    flex: 5;
    text-align: left;
    margin-left: 70%;
    letter-spacing: 0.08em;
}

#searchBar {
    flex: 1;
    background-color: black;
    font-size: 0.8em;
    height: 50%;
    border: transparent;
    padding-left: 2%; 
}

.divider {
    height: 6vh;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color:rgba(128, 128, 128, 0.1);
    /* text-align: center; */
}

.movies_type_header {
    margin-left: 2.5%;
    font-size: 1.5em;
}

.movies_type_header:hover {
    color: rgb(0, 204, 255);
}

.ant-pagination {
    display: flex;
    justify-content: center;
    flex-wrap: row wrap;
}
  
.rc-pagination-item {
    background-color: transparent;
    font-weight: 600;
}
  
.rc-pagination-item:hover, 
.rc-pagination-next:hover, 
.rc-pagination-prev:hover, 
.rc-pagination-jump-prev, 
.rc-pagination-jump-prev:hover  {
    background-color: transparent;
    font-weight: 700;
}

.movies-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; 
}

/* .rentedMovies-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;  
} */



@media screen and (max-width: 768px){
    #catalog-container {
        height: 2800px;
    }
    
    #search_budget_con {
        height: 3%;
        font-size: 1.3em;
    }
    
    #budget {
        margin-left: 14%;
        font-size: 0.9em;
        letter-spacing: 0.07em;
    }
    
    #searchBar {
        flex: 0.5;
        margin-left: 3%;
        height: 35%;
    }

    .divider {
        height: 6vh;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    
    .movies_type_header {
        margin-left: 5%;
        font-size: 1.4em;
        line-height: 1.7;
    }
    
    .ant-pagination {
        margin-top: 8%;
        margin-bottom: 5%;
    }
      
    .movies-container {
        margin-left: 10%;
        flex-wrap: column wrap;
        justify-content: space-around;   
    }
    
}
