#Landing {
    height: 800px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.205);
}

#landing-header{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3em;
  width: auto;
  margin-left: 35%;
  padding-top: 2.5%;
}

#users-container {
  height: 25%;
  width: 96%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 2%;
  font-size: 2.6em;
}

.user-square {
  flex: 1;
  padding: 2%;
  margin: 2%;
  height: 30%;
  border-radius: 3%;
  border: 3 solid black;
  border: 0.25% solid black;
}

.userName {
  text-align: center;
  line-height: 1.5em;
  color: black;
}

@media screen and (max-width: 768px){

  #landing-header{
    font-size: 2em;
    height: 80hv;
    width: 60wv;
    margin-left: 25%;
    padding-top: 15%;
  }

  #users-container {
    flex-direction: column;
    margin-top: 4%;
    height: 80hv; 
  }
  
  .user-square {
    padding: 4%;
    margin: 4%;
    height: 20%;
    font-size: 0.7em;
    width: 25%;
  }

}
  
  
  
  
 