.movie-item {
    padding: 1%;
    height: 15%;
    width: 13%;
    border: 2px solid transparent;
    border-radius: 3%;
    margin-block-start: 1%;
    margin-inline-start: 1%;
    display: flex;    
}

.movie-image {
    height: 150px;
    width: 100px;
    object-fit: contain;
    border: 2px solid transparent;
    border-radius: 8%;
    display: flex;
    flex-wrap: row wrap;
}

.movie-title {
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    text-align: center;
}

.icon {
    display: flex;
    justify-content: flex-start;
    padding-right: 2%;
}

.icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .movie-item {
        padding: 1%;
        padding-top: 2%;
        padding-bottom: 2%; 
        height: 10%;
        width: 45%;
        border: 2px solid transparent;
        border-radius: 3%;
        margin-block-start: 1%;
        margin-inline-start: 1%;
        /* display: flex; */
    }

    .movie-title {
        display: none;
    }



}


